/*
    Cycles Render Time Calculator (CRTC)
    Calculate how long your Blender Cycles Engine renders will take.

    Created 2013 Triangle717 & rioforce
    <http://Triangle717.WordPress.com/>
    <http://rioforce.wordpress.com/>

Cycles Render Time Calculator - Web Version

All Safari and stock Android browser rules personally tested on
iOS6 iPod touch 5th gen & Android 4.2 Sony Xperia LT30at
*/

@charset "UTF-8";
/* Remove link underlines */
a { text-decoration: none; }

ul { list-style: none; }
li { width: 100%; }

/*  */
body {
    text-align: center;
    background-image: url("../img/bg.png");
    font-size: 1em;
    }


/* Change body font size only for Safari and stock Android browser */
.webkit, .android {
    font-size: 0.5em;
}

/* Makes render time display stand out more */
#results {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 0.5px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Replicate above effect on stock Android browser */
.webkit #results {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.webkit #browser {
    color: red;
    font-size: 1.5em;
}