/*
    Cycles Render Time Calculator (CRTC)
    Calculate how long your Blender Cycles Engine renders will take.

    Created 2013 Triangle717 & rioforce
    <http://Triangle717.WordPress.com/>
    <http://rioforce.wordpress.com/>

Cycles Render Time Calculator - Web Version
*/

@charset "UTF-8";
a { text-decoration: none; }

/* Background Vignette taken from
http://playground.niftinessafoot.com/vignette */
html{ min-height: 100%; }
body{
    text-align: center;
    background-image: radial-gradient(transparent, rgba(0,0,0,.2)), url("../img/bg.png");
    min-height: 100%;
    }

/* Display background image only for Safari and stock Android browser
(tested on iOS6 iPod touch 5th gen & Android 4.2 Sony Xperia LT30at) */
.webkit, .android { background-image: url("../img/bg.png"); }
